<style>
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lora|Playfair+Display+SC|Spectral+SC|Montserrat|Nunito');
</style>


* {
    padding: 0;
    margin: 0;
}

body { 
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimzieLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

li {
    list-style: none;
    display: list-item;
    list-style-type: circle; !important!
}

a {
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {
    text-decoration: none;
}

h1,
h2,
h4 { font-family: 'Nunito', 'Spectral SC', serif;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;    
}

p {
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: lowercase;
}

.btn {
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}

/*
.item img{
    margin:auto;
    width:100%;
}
*/
/*NAVIGATION*/

.navbar {
/*    background-color: #fff !important;*/
    background-color: #222222 !important;
    text-transform: capitalize;
    font-family: 'Nunito', 'Spectral SC', 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 500; 
    font-size: 18px;
/*    text-align:center;*/
}
/*
.navbar img {
    height: 20%;
    width: 20%;
   margin: auto;

}
*/

.navbar-brand{
    float: left;
    min-height: 55px;
    padding: 0 12px 5px;
    
}
.navbar h4 {
    font-family: 'Dancing Script';
    font-size: 28px;
    text-align: right;
    text-transform: none;
    color: #222222;
}

.navbar a {
/*    color: #222222 !important;*/
    color: #fff !important;
    opacity: 0.7;
    height: 40%;
    width: 100%;
}

.navbar a:hover {
    opacity: 1;
    background-color: #3399ff !important;
    
}

/*HEADER*/

.header{
    height: 550px;
    width: 100%;
    padding: 80px 0 30px;
    margin-top: 80px;
    background: #fff; /* blue*/
/*    background: #3399ff;  blue*/
/*    background-image: url(../images/CaliRoad.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.header h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    padding-top: 5px;
    font-family: 'Nunito', 'Spectral SC', 'Georgia', sans-serif;
    text-transform: none;
}

.header h2 {
    font-family: 'Nunito', 'Spectral SC', 'Georgia', sans-serif;
    text-transform: capitalize;
    font-size: 40px;
    color: #3399ff;
/*    color: #3399ff;*/
/*    color: white;*/
}

.header h3 {
    font-family: 'Dancing Script';
    font-size: 28px;
     margin: 100px 0 0 0px;
}

.header p {
     margin-top: 20px;
    font-size: 18px;
    text-align: left;
    font-family: 'Nunito', 'Spectral SC', 'Georgia', sans-serif;
    text-transform: none;
/*    color: #3399ff;*/
    color: black;
}

.header carousel-caption{
   z-index: 40; 
}

.header carousel-inner > .item  > img
{
    position: absolute;
        top: 51px;
        left: 0;
    min-width: 100%;
    margin: 0 auto;
    display: flex;
  justify-content: center;
    border: 10px solid white;
}
    
    .header carousel-inner > .item {
    position: absolute;
        top: 51px;
        left: 0;
    min-width: 100%;
    margin: 0 auto;
    display: flex;
  justify-content: center;
    border: 10px solid white;
}
    
    .header, carousel-inner {
  height:100%;
  width:100%;
  background-position:center center;
}
    .header, carousel slide{
        min-width: 100%;
    }

.header button {
    margin-top: 10px;
    font-family:'Nunito', 'Georgia', sans-serif;
    text-transform: none;
    background-color: #3399ff;
    border-color: #3399ff;
/*
    background-color: white;
    border-color: white;
*/
    border-radius: 12px;
}

.header .btn {
    border-radius: 30;
    margin: 25px 20px;
    text-decoration-color: white;
}
/*Tablets*/
@media only screen and (max-width:769px) {
    .header {
        padding: 30px;
        height: 750px;
/*        width: auto;*/
    }
    
    .header img{
        width: 100%;
        height: 100%;
        margin: auto;
    }
    
    .header .btn {
        font-size: 20px;
        margin-left: 20px;
    }
    
    .header h1 {
        font-size: 20px;
        font-family: 'Spectral SC', serif;
    }
    
    .header h2 {
        font-family: 'Nunito', 'Spectral SC', 'Georgia', sans-serif;
        text-transform: capitalize;
/*        font-size: 200%;*/
/*        font-size: 35px;*/
        color: #399fff;
/*        color: white;*/
        text-align: center;
}
    
    .header h3 {
        font-family: 'Dancing Script';
        font-size: 22px;
         margin: 100px 0 0 0px;
}
    
    .header p {
        font-size: 150%;
/*        font-size: 20px;*/
        margin: auto;
    }
    
    .carousel-column{
        height: auto;
        width: auto;
        margin: 0 auto;
        justify-content: center;
    }
    
      .header carousel-inner > .item active > img {
        position: absolute;
        top: 51px;
        left: 0;
        min-width: 100%;
        min-height:100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        border: 10px solid white;
    }
    
       .header, carousel-inner {
          height:100%;
          width:100%;
          background-position:center center;
}
    .header, carousel slide{
        min-width: 100%;
    }
}

/*Phones*/
@media only screen and (max-width:737px) {
    .header {
        padding: -0px;
        height: 750px;
    }
    
    .header img{
        width: 100%;
        height: 100%;
        margin: auto;
    }
    
    .header .btn {
        font-size: 15px;
        margin-left: 90px;
    }
    
/*
    .header button {
    margin-top: 10px;
    font-family:'Nunito', 'Georgia', sans-serif;
    text-transform: none;
    background-color: white;
    border-color: white;
    border-radius: 12px;
}
*/
    
    .header h1 {
        font-size: 20px;
        font-family: 'Spectral SC', serif;
    }
    
    .header p {
        font-size: 100%;
/*        font-size: 18px;*/
    }
    
    .header h2 {
    font-family: 'Nunito', 'Spectral SC', 'Georgia', sans-serif;
    text-transform: capitalize;
/*    font-size: 30px;*/
    color: #399fff;
}
    
    .header h3 {
    font-family: 'Dancing Script';
    font-size: 18px;
     margin: 100px 0 0 0px;
}
    
    .header carousel-caption{
        z-index: 40; 
    }

    .header carousel-inner > .item active > img {
        position: absolute;
        top: 51px;
        left: 0;
        min-width: 100%;
        min-height:100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        border: 10px solid white;
    }
    
    .carousel-column{
        height: auto;
        width: auto;
        margin: 0 auto;
        justify-content: center;
    }
    
    .header carousel-inner > .item {
    position: absolute;
        top: 51px;
        left: 0;
    min-width: 100%;
    margin: 0 auto;
    display: flex;
  justify-content: center;
    border: 10px solid white;
}
    
    .header, carousel-inner {
  height:100%;
  width:100%;
  background-position:center center;
}
    .header, carousel slide{
        min-width: 100%;
    }
}


/*SERVICES*/

.services {
    padding: 100px 0 80px;
    text-align: center;
background-color: #3399ff;
}

/*.services h2,*/
.services h4 {
/*    color: #4c4c4c;*/
    color: #fff;
    margin: -30px 0 20px;
    font-family: 'Dancing Script';
    text-transform: none;
    font-size: 25px;
/*    font-family: 'Spectral SC', serif;*/
}

.services h2 {
/*    color: #4c4c4c;*/
    color: black;
/*    color: cornflowerblue;*/
    margin: -30px 0 20px;
/*    font-family: 'Spectral SC', serif;*/
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
    font-size: 40px;
    text-align: center;
}

.services h3{
    font-family: 'Dancing Script';
    font-size: 28px;
}

.services hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px; 
}

.services p {
/*    color: #737373;*/
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Nunito','Spectral SC', serif;
    color: black;
    padding-bottom: 10px;
    text-transform: none;
    margin-left: 10px;
    text-align: justify;
}

.services li{

    text-align: left;
    list-style-type: disc; !important;
    font-family: 'Nunito','Spectral SC', serif;
    margin: 0px 0 0 50px;
    font-size: 18px;
    color: black;
}

.services ol{
    color:black;
}

.services i {
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #6699cc;
    color: white;
}

.services img {
  height: 75%;
    width: 75%;
    margin: 10px 0 0 40px;
/*    background-color: whitesmoke;*/
    padding: 30px 20px 20px 20px;
}


.services button {
    margin-top: 10px;
    font-family:'Nunito', 'Georgia', sans-serif;
    text-transform: none;
    background-color: white;
    border-color: #3399ff;
/*
    background-color: #3399ff;
    border-color: #3399ff; */
/*  background-color: white;
    border-color: white; */
    border-radius: 12px;
    }

/*Tablets*/
@media only screen and (max-width:769px) {
  .services {
        padding: 30px 30px 0 0;
    }
    
    .services img {
  height: 85%;
    width: 85%;
    margin: auto;
/*    background-color: whitesmoke;*/
    padding: 10px 10px 10px 10px;
    }
    
    .services p {
    margin-top: 20px;
    font-size: 150%;
/*    font-size: 18px;*/
    font-family: 'Nunito','Spectral SC', serif;
    color: black;
    padding-bottom: 10px;
    text-transform: none;
    margin-top: 20px;
    text-align: justify;
}
    
    .services li {
        color:black;
    text-align: left;
    list-style-type: disc; !important;
    font-family: 'Nunito','Spectral SC', serif;
    margin: 0px 10 0 0px;
    font-size: 150%;
/*    font-size: 18px;*/
    }
}

/*Phones*/
@media only screen and (max-width:737px) {
    
    .services {
        padding: 30px;
    }
    
    .services img {
    height: 100%;
    width: 100%;
    margin: auto;
/*    background-color: whitesmoke;*/
        padding: 10px 10px 10px 10px;
/*    padding: 20px 20px 20px 20px;*/
    }
    
     .services p {
    margin-top: 20px;
    font-size: 100%;
/*    font-size: 18px;*/
    font-family: 'Nunito','Spectral SC', serif;
    color: #222222;
    padding-bottom: 10px;
    text-transform: none;
    margin-top: 20px;
    text-align: justify;
         color: black;
}
    
    .services li {
    text-align: left;
    list-style-type: disc; !important;
    font-family: 'Nunito','Spectral SC', serif;
    margin: 0px 0 0 0px;
    font-size: 100%;
/*    font-size: 18px;*/
    }
    
}

/*EVENTS*/

.events {
    padding: 50px 0 80px;
    text-align: center;
    background-color: #fff;
/*    background-color: #3399ff;*/
}

.events h2{
    color: #222222;
    text-transform: none;
    font-family: 'Nunito', sans-serif;
/*    font-family: 'Nunito','Spectral SC', serif;*/
    font-size: 40px;
    text-align: center;
}

.events p {
    color: #222222;
    text-transform: none;
    font-family: 'Nunito', sans-serif;
/*    font-family: 'Nunito','Spectral SC', serif;*/
    font-size: 40px;
    text-align: center;
}

.events h5 {
    color: #222222;
    text-transform: none;
/*    text-align: left;*/
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
/*    font-family: 'Nunito','Dancing Script';*/
/*    font-family: 'Spectral SC', serif;*/
/*    font-family: 'Lora', serif;*/
    }

.events h6 {
    color: #222222;
    text-transform: none;
/*    text-align: left;*/
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
/*    font-family: 'Nunito','Dancing Script';*/
/*    font-family: 'Spectral SC', serif;*/
/*    font-family: 'Lora', serif;*/
    }

.events h4 {
    color: #222222;
    text-transform: none;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
/*    font-family: 'Nunito','Dancing Script';*/
/*    font-family: 'Spectral SC', serif;*/
/*    font-family: 'Lora', serif;*/
    
}

.events p {
    padding-bottom: 40px;
    font-family: 'Nunito', sans-serif;
    
}
.events ul {
    text-align: left;
    color: black;
    font-family: 'Nunito', sans-serif;
/*    padding-bottom: 40px;*/
    font-size: 20px;
    
}

.events ol {
        color: black;
/*    text-align: left;    */
    font-size: 20px;
    
}.events li {
        color: black;
/*    text-align: left;    */
    font-size: 20px;
    list-style-type: disc; !important;
    margin: 0 0 0 40px;
}

.events .item img {
    width: 25%;
    height: 25%
    margin:auto;
    
}

.events img {
    width: 30%;
    height: 30%
    margin:auto;
    align-self: center;
}


/*Tablets*/
@media only screen and (max-width:769px) {
    .events {
        padding: 30px;
    }
    
    .events .item img {
       height: 90%;
        width: 90%;
        margin: auto;
    }
    
        
    .events img {
        width: 40%;
        height: 40%
        margin:auto;
        align-self: center;
/*        padding-bottom: 40px;*/
    }

.events ul {
    text-align: left;
    color: black;
    font-family: 'Nunito', sans-serif;
/*    padding-bottom: 40px;*/
    font-size: 125%;
    
}

.events ol {
/*    text-align: left;*/
    color: black;
    font-family: 'Nunito', sans-serif;
/*    padding-bottom: 40px;*/
    font-size: 150%;
    }
}


/*Phones*/
@media only screen and (max-width:737px) {
     .events {
        padding: 30px;
    }
    
    .events .item img {
       height: 100%;
        width: 100%;
        margin: auto;
    }
    
        
    .events img {
        width: 40%;
        height: 40%
        margin:auto;
        align-self: center;
    }

.events ul {
    text-align: left;
    color: black;
    font-family: 'Nunito', sans-serif;
/*    padding-bottom: 40px;*/
    font-size: 100%;
    
}

.events ol {
/*    text-align: left;*/
    color: black;
    font-family: 'Nunito', sans-serif;
/*    padding-bottom: 40px;*/
    font-size: 125%;
    }

.events h7{
    font-size: 11px;
    }

.events h3{
    font-size: 125%;
}
}

/*TEAM*/

.team {
    padding: 70px 0 80px;
    text-align: center;
}

.team h2,
.team h4 {
     margin: 10px 0 0px;
    color:#4c4c4c;
    font-family: 'Spectral SC', serif;
}

.team b {
    margin: 10px 0 0px;
    color: 
    #3399ff;
}

.team p {
    color: #737373;
}

.team img {
    height: 150px;
    widows: 150px;
    margin-top: 80px;
}

.team i {
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color: #a0db8e;
    color: #fff;
}

.team a:hover i {
    background-color: #709963;
}

@media(max-width:768px) {
    .team {
        padding: 30px;
    }
    
}

/*COMMUNITY*/

.community {
    padding: 0px 0 100px;
    background-color: #3399ff;
    text-align: center;
    color: #fff;
}

.community h2 {
    color: black;
    font-family: 'Nunito', sans-serif;
/*    font-family: 'Nunito','Spectral SC', serif;*/
    text-transform:none;
    font-size: 40px;
}

.community p {
    padding-bottom: 40px;
    text-transform: none;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
/*    font-family: sans-serif;*/
}

.community ul {
    text-align: left;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
/*    padding-bottom: 40px;*/
    
}
.community img{
    
    width: 250px;
/*    opacity: 0.6;*/
    cursor: pointer;
    margin: 40px 0;
    transition: all 500ms ease-in-out;
}

.community li:hover img {
    opacity: 1;
}

/*Tablets*/
@media only screen and (max-width:769px) {
    .community {
        padding: 30px;
    }
.community ul {
    text-align: left;
    color: black;
    font-family: 'Nunito', sans-serif;
/*    padding-bottom: 40px;*/
    font-size: 150%;
    }
    
    .community img{
/*
    width: 250px;
    opacity: 0.6;
    cursor: pointer;
    margin: 40px 0;
    transition: all 500ms ease-in-out;
*/
        height: 50%;
        width: 50%;
        margin: 0px 0px 20px; 
    }
}

/*Phones*/
@media only screen and (max-width:737px) {
     .events {
        padding: 30px;
    }
    
    .community h2 {
    color: black;
    font-family: 'Nunito', sans-serif;
/*    font-family: 'Nunito','Spectral SC', serif;*/
    text-transform:none;
    font-size: 250%;
    }
    
    .community ul {
    text-align: left;
    color: black;
    font-family: 'Nunito', sans-serif;
/*    padding-bottom: 40px;*/
    font-size: 125%;
    }
 
    .community img{
        height: 100%;
        width: 100%;
        margin: 0px 0px 20px;
    }
    
}



/*CONTACTS*/

.contact {
    padding: 50px 0 80px;
    text-align: center;
    text-transform: none;
}

.contact p {
    padding-bottom: 80px;
/*    color: #737373;*/
/*    text-transform: capitalize;*/
/*    color: #737373;*/
    color: black;
    font-size: 16px;
    padding-bottom: 10px;
    text-transform: none;
    font-family: 'Nunito', sans-serif;
/*    font:14px Helvetica,Arial,sans-serif;*/
    margin-left: 40px;
}

.contact img {
       height: 60%;
        width: 60%;
        margin: 0px 0px 20px;
}

.contact h2 {
    color: black;
    margin: 20px 0 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    text-transform: none;
/*    font-family: 'Nunito','Spectral SC', serif;*/
}

.contact .input-group {
    margin-bottom: 25px;
}

.contact .form-control {
    border-radius: 0 !important;
}

.contact span {
    border-radius: 0 !important;
}

.contact .btn {
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #f08080;
    color: #fff;
}

.contact .btn:hover {
    background-color: #a85959 !important;
    color: #fff !important;
}

/*Tablets*/
@media only screen and (max-width:769px) {
    .contact {
        padding: 30px;
    }
    .contact p {
    padding-bottom: 80px;
/*    color: #737373;*/
/*    text-transform: capitalize;*/
/*    color: #737373;*/
    color: black;
    font-size: 150%;
    padding-bottom: 10px;
    text-transform: none;
    font-family: 'Nunito', sans-serif;
/*    font:14px Helvetica,Arial,sans-serif;*/
    margin-left: 40px;
    }

}

/*Phones*/
@media only screen and (max-width:737px) {
     .events {
        padding: 30px;
    }

     .contact p {
    padding-bottom: 80px;
/*    color: #737373;*/
/*    text-transform: capitalize;*/
/*    color: #737373;*/
    color: black;
    font-size: 100%;
    padding-bottom: 10px;
    text-transform: none;
    font-family: 'Nunito', sans-serif;
/*    font:14px Helvetica,Arial,sans-serif;*/
    margin-left: 40px;
    }

    
}

/*FOOTER*/

.footer {
    padding: 30px;
    color: #cccccc;
    background-color: #222222;
     
}

.footer p{
    text-transform: none;
/*
    font-size: 14px;
    font-family: serif;
    line-height: 0;
*/


}

.footer .social{
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}

.footer input{
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}



/*----ABOUT-----*/

.about{
    height: 750px;
    width: 100%;
    padding: 10px 0 30px;
    margin-top: 50px;
    background: #3399ff;
/*    background-image: url(../images/CaliRoad.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.about img-circle {
    height: 100%;
    width: 100%;
    margin: 70px 0 0 40px;
    border-radius: 100%;
    border: 1px solid red;
/*    border: 15px solid #3399ff;*/
}

.about img {
    height: 100%;
    width: 100%;
    margin: 70px 0 0 40px;
/*    border-radius: 100%;*/
    border: 20px solid white;
/*    border: 15px solid #3399ff;*/
}

.about h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    padding-top: 125px;
/*    font-family: 'Georgia', sans-serif;*/
   font-family: 'Spectral SC', serif;
    text-transform: none;
}

.about h3 {
    font-family: 'Dancing Script';
    font-size: 32px;
}

.about p {
     margin-top: 20px;
    font-size: 18px;
    text-align: justify;
    font-family: 'Georgia', sans-serif;
    text-transform: none;
}

/*.about h1,*/
/*.about p,*/
.about button {
    margin-top: 20px;
    font-family: 'Georgia', sans-serif;
    text-transform: none;
    
}

.about .btn {
    border-radius: 0;
    margin: 25px 20px;
}

@media(max-width:768px) {
    .about {
        padding: 30px;
        height: 750px;
    }
    
    .about img{
        width: 50%;
        height: 150px;
        margin: 20px 0 0 20px;
    }
    
    .about .btn {
        font-size: 10px;
        margin-left: 20px;
    }
    
    .about h1 {
        font-size: 20px;
        font-family: 'Spectral SC', serif;
    }
    
    .about p {
        font-size: 10px;
        
    }
}
/*--------------- End About--------------------- */







