<style>
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lora|Playfair+Display+SC|Spectral+SC|Montserrat|Nunito');
</style>


* {
    padding: 0;
    margin: 0;
}

body { 
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimzieLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

li {
    list-style: none;
    display: list-item;
    list-style-type: circle; !important!
}

a {
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {
    text-decoration: none;
}

h1,
h2,
h4 { font-family: 'Nunito', 'Spectral SC', serif;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;    
}

p {
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: lowercase;
}

.btn {
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}

/*
.item img{
    margin:auto;
    width:100%;
}
*/
/*NAVIGATION*/

.navbar {
/*    background-color: #fff !important;*/
    background-color: #F2F2F2 !important;
    text-transform: capitalize;
    font-family: 'Nunito', 'Spectral SC', 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 500; 
    font-size: 18px;
/*    text-align:center;*/
}

.navbar-brand{
    float: left;
    min-height: 55px;
    padding: 0 12px 5px;
    
}
.navbar h4 {
    font-family: 'Dancing Script';
    font-size: 28px;
    text-align: right;
    text-transform: none;
    color: #222222;
}

.navbar a {
/*    color: #222222 !important;*/
    color: #fff !important;
    opacity: 0.7;
    height: 40%;
    width: 100%;
}

.navbar a:hover {
    opacity: 1;
    background-color: #3399ff !important;
    
}

/*HEADER*/

.header{
    height: 550px;
    width: 100%;
    padding: 80px 0 30px;
    margin-top: 80px;
    /* background: #fff; blue */
   background: #F2F2F2;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.header h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    padding-top: 5px;
    font-family: 'Nunito', 'Spectral SC', 'Georgia', sans-serif;
    text-transform: none;
}

.header h2 {
    font-family: 'Nunito', 'Spectral SC', 'Georgia', sans-serif;
    text-transform: capitalize;
    font-size: 40px;
    color: #3399ff;
/*    color: #3399ff;*/
/*    color: white;*/
}

.header h3 {
    font-family: 'Dancing Script';
    font-size: 28px;
     margin: 100px 0 0 0px;
}

.header p {
     margin-top: 20px;
    font-size: 18px;
    text-align: left;
    font-family: 'Nunito', 'Spectral SC', 'Georgia', sans-serif;
    text-transform: none;
/*    color: #3399ff;*/
    color: black;
}

.header button {
    margin-top: 10px;
    font-family:'Nunito', 'Georgia', sans-serif;
    text-transform: none;
    background-color: #3399ff;
    border-color: #3399ff;
/*
    background-color: white;
    border-color: white;
*/
    border-radius: 12px;
}

.header .btn {
    border-radius: 30;
    margin: 25px 20px;
    text-decoration-color: white;
}
/*Tablets*/
@media only screen and (max-width:769px) {
    .header {
        padding: 30px;
        height: 750px;
/*        width: auto;*/
    }
    
    .header img{
        width: 100%;
        height: 100%;
        margin: auto;
    }
    
    .header .btn {
        font-size: 20px;
        margin-left: 20px;
    }
    
    .header h1 {
        font-size: 20px;
        font-family: 'Spectral SC', serif;
    }
    
    .header h2 {
        font-family: 'Nunito', 'Spectral SC', 'Georgia', sans-serif;
        text-transform: capitalize;
/*        font-size: 200%;*/
/*        font-size: 35px;*/
        color: #399fff;
/*        color: white;*/
        text-align: center;
}
    
    .header h3 {
        font-family: 'Dancing Script';
        font-size: 22px;
         margin: 100px 0 0 0px;
}
    
    .header p {
        font-size: 150%;
/*        font-size: 20px;*/
        margin: auto;
    }
}

/*Phones*/
@media only screen and (max-width:737px) {
    .header {
        padding: -0px;
        height: 750px;
    }
    
    .header img{
        width: 100%;
        height: 100%;
        margin: auto;
    }
    
    .header .btn {
        font-size: 15px;
        margin-left: 90px;
    }
    
/*
    .header button {
    margin-top: 10px;
    font-family:'Nunito', 'Georgia', sans-serif;
    text-transform: none;
    background-color: white;
    border-color: white;
    border-radius: 12px;
}
*/
    
    .header h1 {
        font-size: 20px;
        font-family: 'Spectral SC', serif;
    }
    
    .header p {
        font-size: 100%;
/*        font-size: 18px;*/
    }
    
    .header h2 {
    font-family: 'Nunito', 'Spectral SC', 'Georgia', sans-serif;
    text-transform: capitalize;
/*    font-size: 30px;*/
    color: #399fff;
}
    
    .header h3 {
    font-family: 'Dancing Script';
    font-size: 18px;
     margin: 100px 0 0 0px;
}
    
    .header carousel-caption{
        z-index: 40; 
    }

    .header carousel-inner > .item active > img {
        position: absolute;
        top: 51px;
        left: 0;
        min-width: 100%;
        min-height:100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        border: 10px solid white;
    }
    
    .carousel-column{
        height: auto;
        width: auto;
        margin: 0 auto;
        justify-content: center;
    }
    
    .header carousel-inner > .item {
    position: absolute;
        top: 51px;
        left: 0;
    min-width: 100%;
    margin: 0 auto;
    display: flex;
  justify-content: center;
    border: 10px solid white;
}
    
    .header, carousel-inner {
  height:100%;
  width:100%;
  background-position:center center;
}
    .header, carousel slide{
        min-width: 100%;
    }
}






/*FOOTER*/

.footer {
    padding: 30px;
    color: #cccccc;
    background-color: #00B3B3;
     
}

.footer p{
    text-transform: none;
/*
    font-size: 14px;
    font-family: serif;
    line-height: 0;
*/


}

.footer .social{
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}

.footer input{
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}
